.container{
        display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto 300px auto;
        gap:10px;
        padding:10px;
        height:100vh;
        box-sizing:border-box;
    }

    .header{
        grid-column:1 / span 3;
        background:orange;
        padding:30px;
        border-radius:15px;
        text-align:center;
        font-size:2rem;
    }

    .main{
        background: deepskyblue;
        padding:30px;
        border-radius:15px;
        font-size:1.5rem;
    }

    .empty{
        background: white;
        border:2px dashed #ccc;
        padding:30px;
        border-radius:15px;
        font-size:1.5rem;
        text-align:center;
    }

    .sidebar{
        background: lightcoral;
        padding:30px;
        border-radius:15px;
        font-size:1.5rem;
        text-align:center;
    }

    .footer{
        grid-column:1 / span 3;
        background:lightgreen;
        padding:30px;
        border-radius:15px;
        text-align:center;
        font-size:2rem;
    }